{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Adicionar novo usuário {% endblock %}</h1>
    <form method="post">
        <label for="user_name">Nome</label>
        <br>
        <input type="text" name="user_name"
               value="{{ request.form['user_name'] }}"></input>
        <br>
        <label for="user_username">Nome do usuário</label>        
        <br>
        <input type="text" name="user_username"
                value="{{ request.form['user_username'] }}"></input>
        <br>
        <label for="user_password">Senha</label>        
        <br>
        <input type="password" name="user_password"
               value="{{ request.form['user_password'] }}"></input>        
        <br>        
        <button type="submit">Enviar</button>
    </form>
{% endblock %}
